<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://cdb-pllfd5fy.bj.tencentcdb.com:10146/blm</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
      <mapping class="cn.zucc.edu.blm.bean.ActivityEntity"/>
      <mapping resource="cn/zucc/edu/blm/bean/ActivityEntity.hbm.xml"/>
      <mapping class="cn.zucc.edu.blm.bean.OrderInfEntity"/>
      <mapping resource="cn/zucc/edu/blm/bean/OrderInfEntity.hbm.xml"/>
      <mapping class="cn.zucc.edu.blm.bean.OrdersEntity"/>
      <mapping resource="cn/zucc/edu/blm/bean/OrdersEntity.hbm.xml"/>
      <mapping class="cn.zucc.edu.blm.bean.RecipeEntity"/>
      <mapping resource="cn/zucc/edu/blm/bean/RecipeEntity.hbm.xml"/>
      <mapping class="cn.zucc.edu.blm.bean.ShopEntity"/>
      <mapping resource="cn/zucc/edu/blm/bean/ShopEntity.hbm.xml"/>
      <mapping class="cn.zucc.edu.blm.bean.ShopEvaluateEntity"/>
      <mapping resource="cn/zucc/edu/blm/bean/ShopEvaluateEntity.hbm.xml"/>
      <mapping class="cn.zucc.edu.blm.bean.UserEntity"/>
      <mapping resource="cn/zucc/edu/blm/bean/UserEntity.hbm.xml"/>
      <mapping class="cn.zucc.edu.blm.bean.Activity"/>
      <mapping resource="cn/zucc/edu/blm/bean/Activity.hbm.xml"/>
      <mapping resource="cn/zucc/edu/blm/bean/OrderInf.hbm.xml"/>
      <mapping class="cn.zucc.edu.blm.bean.OrderInf"/>
      <mapping class="cn.zucc.edu.blm.bean.Orders"/>
      <mapping resource="cn/zucc/edu/blm/bean/Orders.hbm.xml"/>
      <mapping class="cn.zucc.edu.blm.bean.Recipe"/>
      <mapping resource="cn/zucc/edu/blm/bean/Recipe.hbm.xml"/>
      <mapping resource="cn/zucc/edu/blm/bean/Shop.hbm.xml"/>
      <mapping class="cn.zucc.edu.blm.bean.Shop"/>
      <mapping resource="cn/zucc/edu/blm/bean/ShopEvaluate.hbm.xml"/>
      <mapping class="cn.zucc.edu.blm.bean.ShopEvaluate"/>
      <mapping resource="cn/zucc/edu/blm/bean/User.hbm.xml"/>
      <mapping class="cn.zucc.edu.blm.bean.User"/>
      <mapping class="cn.zucc.edu.blm.bean.OrderSum"/>
      <mapping resource="cn/zucc/edu/blm/bean/OrderSum.hbm.xml"/>
      <mapping class="cn.zucc.edu.blm.bean.OrderRecipe"/>
      <mapping resource="cn/zucc/edu/blm/bean/OrderRecipe.hbm.xml"/>
      <mapping class="cn.zucc.edu.blm.bean.Evaluation"/>
      <mapping resource="cn/zucc/edu/blm/bean/Evaluation.hbm.xml"/>
      <mapping class="cn.zucc.edu.blm.bean.OrderInformation"/>
      <mapping resource="cn/zucc/edu/blm/bean/OrderInformation.hbm.xml"/>
      <mapping class="cn.zucc.edu.blm.bean.OrderUndone"/>
      <mapping resource="cn/zucc/edu/blm/bean/OrderUndone.hbm.xml"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>